* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
}

.wrapper {
    width: 1200px;
    margin: auto;
    position: relative;
}

.logo a {
    font-size: 50px;
    font-weight: 500;
    float: left;
    font-family: 'Times New Roman', Times, serif;
    color: #393E46;
}

.menu {
    float: right;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 90px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: #FFFF;
    z-index: 1;
    border-bottom: 3px solid #393E46;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;   
}

.kolom {
    margin-top: 50px;
    margin-bottom: 50px;
}

.kolom .description {
    font-size: 15px;
    font-weight: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: darkgreen;
}

h2 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 20px;
    color: darkgreen;
    width: 100%;
    line-height: 50px;
}

a.tbl-merah {
    background: #393E46;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #FFFF;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-merah:hover {
    background: #3490DE;
    text-decoration: none;
}

a.tbl-biru {
    background: #3490DE;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #FFFF;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-biru:hover {
    background: #393E46;
    text-decoration: none;
}

p {
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
}

.tengah {
    text-align: center;
    width: 100%;
}

.Modules-List {
    width: 90%;
    position:fixed;
    display:contents;
    flex-wrap:wrap;
}

.Module-2 {
    width: 50%;
    margin:auto;
}

.Module-List img {
    width: 70%;
    border-radius: 'comic sans ms';
}

.Module-List p {
    font-family: 'comic sans ms';
    font-weight: 850;
    font-size: 15px;
    text-align: center;
    color:darkgreen;
}